In [4]:
import pandas as pd
import numpy as np
import pickle
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df = pickle.load(open('C:/Users/Srijan-DS/Documents/Projects/identify-profitable-customers/artifacts/data.pkl','rb'))

pipe = pickle.load(open('C:/Users/Srijan-DS/Documents/Projects/identify-profitable-customers/artifacts/fe_pipe.pkl','rb'))

model = pickle.load(open('C:/Users/Srijan-DS/Documents/Projects/identify-profitable-customers/artifacts/model.pkl','rb'))

In [5]:
df.head()

,job_type_Self employed,purchase_amount,area,personal_card_2,personal_card_4,campaign_use,card_expired,score_4,asset_amount,average_ratio,personal_id_1,personal_id_2,age,phone,personal_card_1,personal_card_3,car,purchase_score,average_favorite_score,card_history_period,score_1,score_2,score_3,total_amount_1,total_amount_2,total_amount_3
0,0.0,62978.0,2994.0,0.0,1.0,0.0,0.0,0.0,64016,87.170255,1256,86,44,1,1,0,0,0,0.010922,0.048340,0,7,0,58620,10590,1392
1,0.0,66790.0,5318.0,0.0,0.0,0.0,0.0,0.0,64497,83.609102,666,86,30,1,0,1,0,705,1.687598,1.701259,0,0,6,70809,9575,889
2,1.0,57788.0,5954.0,0.0,0.0,2.0,1.0,0.0,111404,58.986180,1621,120,36,1,1,0,0,309,0.001265,3.483625,0,9,6,55294,38319,779
3,1.0,59729.0,7263.0,0.0,0.0,0.0,0.0,0.0,63983,72.702121,1731,51,27,1,0,0,0,740,0.015441,3.338835,0,1,2,1972,9314,2081
4,1.0,50533.0,6270.0,0.0,0.0,0.0,0.0,0.0,98623,82.218856,801,86,40,1,1,0,0,3,0.001283,0.067355,0,2,0,4942,10484,1772

In [6]:
df_transformed = pipe.transform(df)

ValueError: columns are missing: {'important_customer'}